.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem var(--spacing-sm);
    background-color: var(--background-color);
    border-bottom: 0.0625rem solid var(--border-color);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-logo-icon {
    height: 2.2rem;
    width: auto;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border: 1px solid #000;
  border-radius: 12px; 
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9375rem;
}

.google-icon {
  height: 25px;
  width: 25px;
}

.login-button .login-text {
  white-space: nowrap;
}

.logout-button {
    padding: 6px 12px;
    border: 1.5px solid var(--primary-color);
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .main-header {
        padding: 10px var(--spacing-md);
    }
    .logo-icon {
        height: 25px;
    }
    .logo-text {
        font-size: var(--font-size-sm);
    }
    .login-button {
        padding: 6px 10px;
        font-size: var(--font-size-sm);
    }
    .login-button .login-text {
        display: none; /* 작은 화면에서는 텍스트 숨김 */
    }
}


