.accordion-item {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
    background-color: var(--background-color);
    border-radius: 0; 
    overflow: hidden;
    box-shadow: none;
}

.accordion-header {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-md);
    font-weight: 600;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.accordion-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
    transition: transform 0.3s ease;
    color: #000;
}


@media (max-width: 768px) {
    .accordion-header {
        font-size: var(--font-size-sm);
        padding: 12px 15px;
    }
    .accordion-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
    .accordion-content {
        font-size: var(--font-size-sm);
        padding: 12px 15px;
    }
}


.accordion-content {
    padding: 15px 20px;
    background-color: var(--background-color);
    border-top: none;
    font-size: var(--font-size-md);
    line-height: 1.8;
    color: var(--light-text-color);
    text-align: left;
}

.accordion-content p {
    margin-bottom: 0;
}