
/* | px    | rem       |
| ----- | --------- |
| 4px   | 0.25rem   |
| 10px  | 0.625rem  |
| 12px  | 0.75rem   |
| 16px  | 1rem      |
| 18px  | 1.125rem  |
| 20px  | 1.25rem   |
| 24px  | 1.5rem    |
| 50px  | 3.125rem  |
| 150px | 9.375rem  |
| 300px | 18.75rem  |
| 350px | 21.875rem | */

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;     
  background-color: var(--backgroud-color);
  gap: 3.125rem; 
  padding-top: 9.375rem; 
}

.title {
  font-weight: 700;
  font-size: 1.5rem; 
}

.search-box {
  display: flex;
  align-items: center;
  background-color: var(--text-footer);
  border-radius: 3.125rem;
  padding: 0.75rem 1.25rem;
  width: 15rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.search-box input {
  border: none;
  background: transparent;
  flex: 1;
  font-size: 0.9rem;
  outline: none;
  color: var(--text-gray);
  font-weight: 500;
}

.search-box input::placeholder {
  color: var(--text-gray);
  
}

.search-box button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.search-box button svg {
  width: 1.25rem; 
  height: 1.25rem;
  fill: var(--text-gray);
}


@media (max-width: 768px) {
  .search-box {
    width: 18.75rem;
    padding: 0.625rem 1.25rem;
  }

  .title {
    font-size: 1.25rem; 
  }
}


@media (max-width: 480px) {
  .wrapper {
    padding-top: 5rem;
    gap: 2rem;
  }
  .search-box {
    width: 90%;
    padding: 0.5rem 1rem;
  }

  .title {
    font-size: 1.2rem; 
  }
}

